/*   ELEMENT STYLING   */

body {
  background-color: rgb(44, 43, 43);
  color: yellow;
  margin: 0 3%;
}
h1 {
  color: red;
  text-align: center;
}

hr {
  color: red;
  width: 80%;
}

/*   CLASS STYLING   */

.statPriority {
  margin: 0;
}

.container {
  display: table;
  table-layout: fixed;
}

.row {
  display: table-row;
}

.col {
  display: table-cell;
}

/*   ID STYLING   */
